<header class="app-header flex justify-between items-center border-b p-3 shadow-sm">
    <h1 class="text-3xl w-32 font-extrabold logo-gradient tracking-tight">
        AntiApi
    </h1>

    <!-- Command Input -->
    {% include 'components/command-input.html' %}

    <div class="flex items-center w-32 justify-end">
        <a href="https://chatgpt.com/" target="blank" class="w-10 h-10 rounded-full flex items-center justify-center text-white font-medium avatar-gradient shadow-md">
<!--            <i class="fa-solid fa-brain"></i>-->AI

        </a>
        <button id="theme-toggle" class="theme-toggle ml-2 p-2 hover:bg-opacity-20 rounded-full transition-colors">
            <i class="fa-solid fa-moon"></i>
        </button>
        <button id="menuToggle" class="ml-2 p-2 hover:bg-opacity-20 rounded-full transition-colors">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Popup Menu -->
        {% include 'components/popup-menu.html' %}
    </div>
</header>